*{
    margin: 0;
    padding: 0;
}
h1{
    color: brown;
    font-style: italic;
    font-weight: lighter;
    font-family: fantasy;
    text-decoration: overline;
    font-size: 80px;
    text-align: center;
}
#heading-parent{
    background-image: url("../asset/449742227_1120642609042049_1165680785633294266_n.jpg");
    height: 600px;
    padding: 100px 0;
    max-width: 1100px;
    /* tumi jodi 1100px er beshi width pao tahole only 1100px nao.na hole 100% */
    margin: 30px auto;
}
.btn-parent{
    text-align: center;
}
.btn{
    background-color: tomato;
    padding: 8px 15px;
    color: white;
    border-style: solid;
    border-width: 4px;
    border-color: yellow;
    border-radius: 6px;
    font-family: "Playwrite GB S", cursive;;
}